Sample.Mvc.Mongo/Service References/SampleService/SampleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sample.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sample.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRouteHit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteHit" nillable="true" type="tns:RouteHit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteHit" nillable="true" type="tns:ArrayOfRouteHit" />
  <xs:complexType name="RouteHit">
    <xs:sequence>
      <xs:element minOccurs="0" name="HitCount" type="xs:long" />
      <xs:element minOccurs="0" name="RouteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteHit" nillable="true" type="tns:RouteHit" />
</xs:schema>