samples/Sample.Mvc.Mongo/Service References/SampleService/SampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54025/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sample.Wcf" />
  <xs:element name="FetchRouteHits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRouteHitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sample.Wcf" minOccurs="0" name="FetchRouteHitsResult" nillable="true" type="q1:ArrayOfRouteHit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceMethodThatIsNotProfiled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceMethodThatIsNotProfiledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceMethodThatIsNotProfiledResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MassiveNesting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MassiveNestingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MassiveNestingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MassiveNesting2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MassiveNesting2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MassiveNesting2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duplicated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DuplicatedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>