samples/Samples.Mvc5/Service References/SampleService/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54025/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54025/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54025/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sample.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_FetchRouteHits_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRouteHits" />
  </wsdl:message>
  <wsdl:message name="ISampleService_FetchRouteHits_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRouteHitsResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ServiceMethodThatIsNotProfiled_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceMethodThatIsNotProfiled" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ServiceMethodThatIsNotProfiled_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceMethodThatIsNotProfiledResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_MassiveNesting_InputMessage">
    <wsdl:part name="parameters" element="tns:MassiveNesting" />
  </wsdl:message>
  <wsdl:message name="ISampleService_MassiveNesting_OutputMessage">
    <wsdl:part name="parameters" element="tns:MassiveNestingResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_MassiveNesting2_InputMessage">
    <wsdl:part name="parameters" element="tns:MassiveNesting2" />
  </wsdl:message>
  <wsdl:message name="ISampleService_MassiveNesting2_OutputMessage">
    <wsdl:part name="parameters" element="tns:MassiveNesting2Response" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Duplicated_InputMessage">
    <wsdl:part name="parameters" element="tns:Duplicated" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Duplicated_OutputMessage">
    <wsdl:part name="parameters" element="tns:DuplicatedResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="FetchRouteHits">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/FetchRouteHits" message="tns:ISampleService_FetchRouteHits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/FetchRouteHitsResponse" message="tns:ISampleService_FetchRouteHits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceMethodThatIsNotProfiled">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/ServiceMethodThatIsNotProfiled" message="tns:ISampleService_ServiceMethodThatIsNotProfiled_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/ServiceMethodThatIsNotProfiledResponse" message="tns:ISampleService_ServiceMethodThatIsNotProfiled_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MassiveNesting">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/MassiveNesting" message="tns:ISampleService_MassiveNesting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/MassiveNestingResponse" message="tns:ISampleService_MassiveNesting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MassiveNesting2">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/MassiveNesting2" message="tns:ISampleService_MassiveNesting2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/MassiveNesting2Response" message="tns:ISampleService_MassiveNesting2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Duplicated">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/Duplicated" message="tns:ISampleService_Duplicated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/DuplicatedResponse" message="tns:ISampleService_Duplicated_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleService" type="tns:ISampleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchRouteHits">
      <soap:operation soapAction="http://tempuri.org/ISampleService/FetchRouteHits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceMethodThatIsNotProfiled">
      <soap:operation soapAction="http://tempuri.org/ISampleService/ServiceMethodThatIsNotProfiled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MassiveNesting">
      <soap:operation soapAction="http://tempuri.org/ISampleService/MassiveNesting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MassiveNesting2">
      <soap:operation soapAction="http://tempuri.org/ISampleService/MassiveNesting2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Duplicated">
      <soap:operation soapAction="http://tempuri.org/ISampleService/Duplicated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_ISampleService" binding="tns:BasicHttpBinding_ISampleService">
      <soap:address location="http://localhost:54025/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>